:host {
    #footer-content {
        background-color: rgb(8, 35, 75);
        //    position: absolute;
        bottom: 8px;
        width: 100%;
        height: 90px;

        color: #cccccc86;
        margin-top: auto !important;
    }

    hr {
        width: 200px;
    }
}
